

page-login {

  .body {
    background: #160F29; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#160F29, #246A73); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#160F29, #246A73); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#160F29, #246A73); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#160F29, #246A73); /* Standard syntax */
  }
  .signin {
    background-color: #160F29;
  }

  #main{
    text-align: center;
    background-color: transparent;
  }
  #greeting {
    font-weight: bold;
    color: #F3DFC1;
  }
  #title {
    color: #F3DFC1;
  }

  #gator {
    height: 300px;
  }
  .animated {
    animation-name: tada;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
}

