<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <h2>DO THE NOLA SHAKE!25</h2>
  <div>Wait for it! {{trigger}}</div>
  <div># of movements Is: {{limit}}</div>
  <input [(ngModel)]="limit" placeholder="new limit">
  <div>JoltSize is : {{joltSize}}</div>
  <input [(ngModel)]="joltSize" placeholder="new joltSize">
  <ion-list inset> Shake Readings
      <ion-item *ngFor="let acc of accels"> {{ acc }} </ion-item>
      <div>total of last saved shake is {{total}}</div>
  </ion-list>
  <button danger (click)="saveImpact(100)">Save Another</button>
  <button danger (click)="getPotholes()">Get Potholes</button>
  <ion-list inset> My Potholes
    <ion-item *ngFor="let hole of holes"> {{ hole.name+' '+hole.lat}} </ion-item>
  </ion-list>
  <ion-list inset> Lat long and speed
    <ion-item *ngFor="let cord of coord"> {{ cord }} </ion-item>
</ion-list>
</ion-content>