page-homepage {
  .home {
    background-color: #246A73;
    color: #F3DFC1;
  }
  .body {
    background-image: url('../assets/images/pothole.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #F3DFC1;
    text-align: center;
  }

.description {
  background-color: rgba(22, 15, 41, 0.6);
}
}
