page-homepage {
  .home {
    background-color: #246A73;
    color: #F3DFC1;
  }
  .body {
    background: #160F29; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#160F29, #246A73); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#160F29, #246A73); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#160F29, #246A73); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#160F29, #246A73); /* Standard syntax */
    color: #F3DFC1;
  }
}
