<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body" padding>
  <div class="description">
    <h1>Check out our features, {{ user }}!</h1>
    <br />
    <p>Pothole warning system activated. Parsing the database for approaching potholes.</p>
    <br />
    <button (click)="showSettings = !showSettings" ion-button icon-start>
      <ion-icon name="settings"></ion-icon>
      Show System Settings
    </button>
    <div *ngIf="forReal">
      <h2>DO THE NOLA SHAKE!</h2>
      <div>Wait for it! {{trigger}}</div>
      
      <div> Minimum  in meters/second is: {{minSpeed}}</div>
      <input [(ngModel)]="minSpeed" placeholder="new minspeed">

      <div># of movements Is: {{limit}}</div>
      <input [(ngModel)]="limit" placeholder="new limit">
      <div>JoltSize is : {{joltSize}}</div>
      <input [(ngModel)]="joltSize" placeholder="new joltSize">
      <ion-list inset> Last saved impact
        <div>G force was {{total}}</div>
      </ion-list>
      <ion-list inset> heading is real
        <div> {{coords.latitude}}</div>
        <div> {{coords.longitude}}</div>
        <div> Heading2: {{coords.heading}}</div>
        <div> Speed {{coords.speed}} in m/s</div>
      </ion-list>
      <input [(ngModel)]="coords.heading" placeholder="new heading">
      <input [(ngModel)]="coords.speed" placeholder="new speed">
      <div>Use Real Location? : {{realGeo}}</div>
      <button ion-button full (click)="realLocationToggle()">Toggle Fake Location</button>
      <button ion-button full (click)="saveImpact([15, 12.5, 45])">Save Another/playsound</button>
      <button ion-button full (click)="getPotholes()">Get Potholes</button>
      <ion-list> About to save this impact
        <ion-item *ngFor="let a of toSave">
          {{a}}
        </ion-item>
      </ion-list>
      <button ion-button full (click)="makeFake([15, 12.5, 45])">Make Fake</button>
    </div>
  </div>


</ion-content>
